.heroImage {
    height: 650px;
    width: 100%;
    /* position: absolute !important;
    top: 0; */
    margin-top: -9.8rem;
}
 
.heroImage > div {
    width: 35%;
    height: fit-content;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: transparent;
    position: absolute;
    top: 48%;
    left: 10%;

    /* transform: translateX(-50%) translateY(-50%); */
    color: #FEF2F2;
}
 
 
.heroImage p {
    font-size: 1.2rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
    
    font-family: 'Libre Baskerville', serif;
    line-height: 1.6;
}

.heroImage button{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;

    background-color: rgba(207, 197, 197, 0.6);
    border: none;
    border-radius: 3px;
    padding: 0.75rem 1.6rem;
    max-width: 8rem;

}

.heroImage button:hover{
    cursor: pointer;
    transform: translateY(-2px);
}