.meetBrands {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.meetBrands .headingText{
    display: block;
    margin: 0 auto;
    padding: 2.2rem 0;

    font-size: 1.8rem;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.meetBrands .middleText{
    display: block;
    margin: 0 auto;
    padding: 0.6rem 0;

    font-size: 1.4rem;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

.meetBrands .smallText{
    display: block;
    margin: 0 auto;
    padding: 2.4rem 0;
    width: 63%;

    font-size: 1.1rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.meetBrands .line {
    width: 57%;
    color: var(--grayLine);
    box-shadow: 1px 1px 5px gray;
    border: 0.01rem solid var(--grayLine);
    align-self: center;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 415px) {

    .meetBrands .headingText{
        padding: 1.2rem 0;
        font-size: 1.3rem;
    }

    .meetBrands .middleText{
        padding: 0.6 0;
        font-size: 1.1rem;
    }
    
    .meetBrands .smallText{
        padding: 0 0;
        font-size: 1rem;
        margin-bottom: 2rem;
        width: 85%;
    }

    .meetBrands .line {
        width: 75%;
        margin-top: 0.7rem;
        margin-bottom: 1.2rem;

        border: 0.01rem solid var(--grayLine);
    }
    
    
}