.smallImagesHome {
    display: flex;
    flex-direction: row;
    height: 30%;
    align-items: center;
    position: relative;
}

.leftImage{
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.rightImage{
    width: 50%;
    display: flex;
    flex-direction: column;
}


.leftImage button{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    align-self: center;

    position: absolute;
    z-index: 1;
    top: 80%;
    left: 20%;

    background-color: #d2af97af;
    border: none;
    border-radius: 3px;
    padding: 1rem 1.6rem;
    width: 9rem;
}

.rightImage button{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    align-self: center;

    position: absolute;
    z-index: 1;
    top: 80%;
    right: 20%;

    background-color: #d2af97af;
    border: none;
    border-radius: 3px;
    padding: 1rem 1.6rem;
    width: 9rem;
}

.rightImage button:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

.leftImage button:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

@media screen and (max-width: 415px) {
    .smallImagesHome {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 30%;
        align-items: center;
        position: relative;
    }

    .leftImage {
        width: 100%;
    }
    .rightImage {
        width: 100%;
    }

    .leftImage button {
        top: 35%;
        left: 30%;
    }

    .rightImage button{
        top: 86%;
        right: 30%;
    }
}