.smallImagesHome {
    display: flex;
    flex-direction: row;
    height: 30%;
}

.leftImage{
    width: 50%;
    position: relative;
}

.rightImage{
    width: 50%;
    position: relative;
}

.leftImage .btn, .rightImage .btn{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    align-self: center;

    position: absolute;
    z-index: 1;
    top: 79%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    border: none;
    border-radius: 3px;
    padding: 1rem 1.6rem;
    width: 9rem;
}

.leftImage .btn{
    background-color: #d2af97bd;
}

.rightImage .btn{
    background-color: rgba(207, 197, 197, 0.7);
}

.rightImage .btn:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

.leftImage .btn:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

@media screen and (min-width: 1080px) {
    .leftImage .btn, .rightImage .btn{
        min-width: 8.75rem;
        padding: 1rem 1.5rem;
    }
}

@media screen and (max-width: 750px) {
    .smallImagesHome {
        flex-wrap: wrap;
    }

    .leftImage, .rightImage {
        width: 100%;
    }
}