.ourProducts{    
    background-color: var(--lightLily);
    
    
    margin-top: 100vh; /* ovo maknit kad popravimo layout*/
}

.leftText{
    width: 500px; /*********/
}

.leftText span{
    font-size: 2rem; /*32px*/
    font-family: 'Libre Baskerville', serif;
}

.leftText p{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}