.adjHeight{
    height: fit-content;
    padding-bottom: 3rem;
}

.adjHeight .wrapper{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.brandIntro {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.brandIntro .headingText{
    display: block;
    margin: 3rem auto;

    font-size: 1.8rem;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.brandIntro .smallText1{
    display: block;
    margin: 1rem auto;
    width: 63%;

    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 1.7;
}

.brandIntro .smallText2{
    display: block;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 63%;

    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 1.7;
}

.adjHeight .wrapper .threeImages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;

    width: fit-content;
    height: fit-content;
}

.adjHeight .wrapper .threeImages .img3{
    width: 22rem;
}


.adjHeight .wrapper .threeImages .img4{
    width: 22rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.adjHeight .wrapper .threeImages .img5{
    width: 22rem;
}

@media screen and (max-width: 1200px) {
    .adjHeight .wrapper .threeImages{
        max-width: 80%;
    }
}

@media screen and (max-width: 415px) {
    .adjHeight{
        padding-bottom: 1.5rem;
    }

    .adjHeight .wrapper .threeImages .img4, .adjHeight .wrapper .threeImages .img5{
        display: none;
    }

    .adjHeight .wrapper .threeImages{
        height: 200px;
        width: 100%;
        position: absolute;
        top: 0;
        margin-top: 4rem;
    }

    .adjHeight .wrapper .threeImages .img3{
        width: 100%;
        height: 15rem;
        margin:0;
    }

    .brandIntro {
        margin-top: 17.5rem;
    }

    .brandIntro .headingText{
        margin: 0 auto;
        font-size: 1.25rem;
    }

    .brandIntro .smallText1, .brandIntro .smallText2{
        margin: 1rem auto;
        width: 85%;
        font-size: 0.9rem;
        line-height: 1.4;
    }
    
    .brandIntro .smallText2{
        margin: 0 auto;
    }


}