.brandSection {
    background-color: var(--lightLily);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 30%;
    padding: 0.5rem;
    height: fit-content;
}

.brandSection .brandCard {
    background: transparent;
    width: 50rem;
    height: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    position: relative;
}

.brandSection .brandCard .imgContainer{
    width: fit-content;
    height: fit-content;
}

.brandSection .brandCard .img1{
    position: absolute;
    top: 10%;
    left: 0%;
    z-index: 1;
    box-shadow: 1.1px 1.2px 5px darkgray;

    width: 20rem;
    
}

.brandSection .brandCard .img2{
    position: absolute;
    top: -10%;
    left: 30%;
    box-shadow: 1.1px 1.2px 5px darkgray;
    
    width: 15rem;
}

.brandSection .brandCard.line {
    width: 80%;
    color: var(--grayLine);
    box-shadow: 1px 1px 5px darkgray;
    border: 5px solid var(--grayLine);
}

.brandSection .brandCard .brandName{
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 2rem;
    margin-left: 2rem;
    text-align: left;

    align-self: flex-end;
    position: absolute;
    top: 20%;
    left: 63%;
}

.brandSection .brandCard button{
    width: 13rem;
    padding: 0.5rem 0;
    margin-bottom: 2rem;
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: black;
    background-color: #cfc5c5b9 ;

    border: 0px solid #a3a3a3;
    box-shadow: 1.1px 1.2px 5px darkgray;
    
    align-self: flex-end;
    position: absolute;
    top: 65%;
    left: 65%;
}

.brandSection .brandCard button:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

@media screen and (max-width: 415px) {
    .brandSection {
        width: 100%;
    }
    .brandSection .brandCard {
        width: 100%;
    }
    .brandSection .brandCard .img1{
        width: 9rem;
    }
    .brandSection .brandCard .img2{
        width: 7rem;
        top: -40%;
        left: 20%;
        margin-bottom: 1rem;
    }
    .brandSection .brandCard .brandName{
        font-size: 0.9rem;
        margin: 0.5rem;
        top: 8%;
        left: 57%;
    }
    .brandSection .brandCard button{
        width: 7.3rem;
        margin: 0.5rem;
        top: 40%;
        left: 57%;
    }
    .brandSection .brandCard {
        height: max-content;
        margin: 1rem;
    }
}