.brandSection {
    background-color: var(--lightLily);
    display: flex;
    justify-content: center;
    height: 30%;
    padding: 2.5rem;
}

.brandCard {
    background: transparent;
    width: 50rem;
    height: 20rem;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    position: relative;
}

.brandCard .imgContainer{
    align-self: flex-start;
    margin-bottom: 1rem;

}

.brandCard .imgContainer img{
    height: 10rem;
    width: auto;  
}

.brandCard .imgContainer .img1{
    position: absolute;
    top: 10%;
    left: 0%;
    z-index: 1;
    box-shadow: 1.1px 1.2px 5px darkgray;

    height: 12rem;
}

.brandCard .imgContainer .img2{
    position: absolute;
    top: 40%;
    left: 30%;
    box-shadow: 1.1px 1.2px 5px darkgray;
    
    height: 10rem;
}

.brandCard.line {
    width: 80%;
    color: var(--grayLine);
    box-shadow: 1px 1px 5px darkgray;
    border: 5px solid var(--grayLine);
}

.brandCard .brandName{
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 2rem;
    margin-left: 2rem;
    text-align: center;

    align-self: flex-end;
    position: absolute;
    top: 20%;
    left: 63%;
}

.brandCard button{
    width: 13rem;
    padding: 0.5rem 0;
    margin-bottom: 2rem;
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: black;
    background-color: #cfc5c5b9 ;

    border: 0px solid #a3a3a3;
    box-shadow: 1.1px 1.2px 5px darkgray;
    
    align-self: flex-end;
    position: absolute;
    top: 65%;
    left: 65%;
}

.brandCard button:hover{
    cursor: pointer;
    transform: translateY(-2px);
}