.heroImage {
    display: flex;
    align-content: center;
    height: 100vh;
    margin-top: -9.8rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.text1 {
    font-size: 1.5rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
    color: black;
    
    font-family: 'Libre Baskerville', serif;

    margin-left: auto;
    margin-right: auto;
}

.text2 {
    font-size: 1.2rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
    color: black;
    
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: white;

    margin-left: auto;
    margin-right: auto;

    background-color: rgba(0, 0, 0, 0.753);
    border: none;
    border-radius: 3px;
    padding: 1rem 1.6rem;
    letter-spacing: 0.1rem;
    max-width: 13rem;
}

.btn:hover{
    cursor: pointer;
    transform: translateY(-2px);
    color: rgb(230, 146, 230);
}
