.productFilter {
    display: flex;
    flex-direction: row;
    height: max-content;
}

.filter {
    margin-right: 3rem;
    width: 20rem;
    background-color: var(--lightLily);
}

@media screen and (max-width: 450px) {
    .productFilter{
        flex-direction: column;
    }
    .productFilter .filter {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}