.navigationTop{
  background-color: rgba(255,255,255,0.6);

    margin: 0;
    height: 6.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.navigationTop .hidden{
  visibility: hidden;
  font-size: 1.9rem;
  margin: 0 0 0 1.4rem;
}

@media screen and (max-width: 415px) {
  .navigationTop{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--lily);
      height: 4rem;
    }
  
  .navigationTop .hidden{
    font-size: 1.3rem;
  }


}