:root {
    --darkerBrown: #856A57;
    --dirtyWhite: #F8F8FF;
    --lightBlack: #483939;
    --lily: #CFC5C5;
    --lightBrown: #D2AF97;
    --goldish: #E6D29A;
    --redish: #DB4B42;
    --grayLine: #707070;
    --lightLily: #EFE8E9;
  }