.productCard{
    width: 14.4rem;
}

.productCard .productImg{
    width: 14.4rem;
    height: 14.75rem;

    position: relative;
    overflow: hidden;

    border: 1px solid var(--grayLine);
}

.productImg img{
    height: 20.6rem;

     /*za namistit sliku*/
     position: relative;
     bottom: 3.2rem;
}

.productCard .cardBottom{
    background-color: var(--lightBrown);
    height: 8.75rem;
    width: 14.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border: 1px solid var(--grayLine);
    border-top:none;
}

.productCard .cardBottom .productName{
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.15rem;
    padding-top: 0.3rem;
}

.productCard .cardBottom .productPrice{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

.productCard .cardBottom button{
    width: 95%;
    padding: 0.5rem 0;
    
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #564141;
    background-color: rgba(255,255,255,0.4);

    border: 1px solid var(--grayLine);
}