.heroImageBlogpost {
    height: 650px;
    width: 100%;
    margin-top: -9.8rem;
}
 
.heroImageBlogpost > div {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: transparent;
    position: absolute;
    top: 30%;
    left: 22%;

}
 
 
.heroImageBlogpost p {
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    font-family: 'Libre Baskerville', serif;
    font-size: 1.4rem;
    
    text-transform: uppercase;
    color: white;
    

    line-height: 1.5;
}

@media screen and (max-width: 415px) {

    .heroImageBlogpost {
        height: 17rem;
    }

    .heroImageBlogpost p {
        font-size: 0.8rem;
        line-height: 1.6;
    }

    .heroImageBlogpost > div {
        width: 45%;
        top: 40%;
        left: 5%;
    }
}