.logo {
    display: flex;
    flex-flow: column;
    width: fit-content;
    height: 52px;
  }
  
  .logoText {
    font-family: 'Libre Baskerville', serif;
    font-size: 52px
  }
  
   .sub {
    text-align: center;
    font-size: 14px;
  }