.logoText {
  font-family: 'Libre Baskerville', serif;
  font-size: 2.4rem; /*38px*/
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 415px) {
  .logoText {
    font-size: 1.5rem;
  }

}
