.huge{
    background-color: var(--lightLily);
}
.wrapper{
    width: 13rem;
    display: flex;
    flex-direction: column;
    background-color: var(--lightLily);
    /* height: 80rem; */
    padding: 3rem 3rem;
}

.openFilter {
    display: none;
}

.mobFilter {
    display: none;
}

.filter {
    background-color: var(--lightLily);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filter .filterBy{
    display: flex;
    flex-direction: column;
}

.filter .sortBy{
    display: flex;
    flex-direction: column;
}

.filter .filterBy2{
    display: none;
}

.filter .sortBy2{
    display: none;
}

.buttonApply2 {
    display: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;

    background-color: var(--lightBrown);
    border: none;
    border-radius: 3px;
    padding: 0.75rem 1.3rem;
    max-width: 10rem;
    margin-top: 2rem;
    
    box-shadow: 1.1px 1.2px 5px darkgray;
}

.textBold {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;

    margin-bottom: 1rem;
    margin-top: 1rem;
}

.buttonSelected {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: left;
 
    background-color: #cfc5c5;
    border: none;
    border-radius: 3px;
    padding: 0.3rem 0.6rem;
    max-width: 9rem;
    margin: 0.1rem 0rem;
}
 
.buttonTrans {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: left;
 
    background-color: transparent;
    border: none;
    border-radius: 3px;
    padding: 0.3rem 0.6rem;
    max-width: 9rem;
    margin: 0.1rem 0rem;
}

.buttonWrap {
    width: 100%;
    background-color: var(--lightLily);
}

.buttonApply {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;

    background-color: var(--lightBrown);
    border: none;
    border-radius: 3px;
    padding: 0.75rem 1.3rem;
    max-width: 10rem;
    margin-top: 2rem;
    
    box-shadow: 1.1px 1.2px 5px darkgray;
}

.buttonApply:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

.buttonTrans:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

.buttonSelected:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

@media screen and (max-width: 1180px) {
    .wrapper {
        width: 10rem;
    }
    
}

@media screen and (max-width: 450px) {
    .wrapper {
        display: none;
    }
    .wrapper2 {
        width: auto;
        padding: 1rem;
        margin-bottom: 2rem;

        display: flex;
        flex-direction: column;
        background-color: var(--lightLily);
    }
    .filter {
        padding: 0rem;
        height: fit-content;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .filter .textBold, .filter .buttonTrans{
        font-size: 0.9rem;
    }

    .openFilter{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.95rem;
        align-self: center;

        margin-top: 0rem;
        margin-left: auto;
        margin-right: auto;

        border: none;
        /* border-radius: 25px; */
        padding: 1rem 1rem;
        /* width: 11rem; */
        width: 100%;

        background-color: #d2af97bd;
    }

    .icon{
        font-size: 1rem;
        padding: 0.3rem;
    }

    .mobFilter{
        display: block;

        width: 100%;
        height: 15rem;
        background-color: rgb(16, 70, 70);
    }

    .filter .filterBy2{
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
    }
    
    .filter .sortBy2{
        display: flex;
        flex-direction: column;
    }

    .buttonApply2 {
        display: block;
        align-self: center;
        margin-top: 1.5rem;
        margin-bottom: 0rem;
        margin-left: 6rem;
        padding: 0.75rem 1.3rem;
        font-size: 0.9rem;
        max-width: 9rem;
    }

    
    .buttonSelected {
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        text-align: left;
    
        background-color: #cfc5c5;
        border: none;
        border-radius: 3px;
        padding: 0.3rem 0.6rem;
        max-width: 9rem;
        margin: 0.1rem 0rem;
    }
 
    .buttonTrans {
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        text-align: left;
    
        background-color: transparent;
        border: none;
        border-radius: 3px;
        padding: 0.3rem 0.6rem;
        max-width: 9rem;
        margin: 0.1rem 0rem;
    }

    .buttonApply2:hover{
        cursor: pointer;
        transform: translateY(-2px);
    }

    .buttonTrans:hover{
        cursor: pointer;
        transform: translateY(-2px);
        background-color: #cfc5c5;
    }

    .buttonSelected:hover{
        cursor: pointer;
        transform: translateY(-2px);
        background-color: var(--lightLily);
    }

}