.heroImageBlog {
    height: 650px;
    width: 100%;
    margin-top: -9.8rem;
}


@media screen and (max-width: 415px) {

    .heroImageBlog {
        height: 17.5rem;
        margin-top: 0rem;
    }
}