.blogIntro {
    display: flex;
    flex-direction: column;
    background-color: var(--lightLily);
}

.headingText{
    display: block;
    margin: 0 auto;
    padding: 2.2rem 0;

    font-size: 1.8rem;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.smallText{
    display: block;
    margin: 0 auto;
    padding: 2.4rem 0;
    width: 58%;

    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    line-height: 1.7rem;
}

.line {
    width: 47%;
    color: var(--grayLine);
    box-shadow: 0.1rem 0.1rem 0.5rem gray;
    border: 0.01rem solid var(--grayLine);
    align-self: center;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 415px) {
    .headingText{
        margin: 0 auto;
        padding: 3rem 0;
    }

    .blogIntro .smallText{
        padding: 0rem 0.5rem;
        padding-bottom: 1rem;
        line-height: 1.8rem;
        width: 90%;
    }

    .line {
    width: 75%;
    box-shadow: 0 0 0 gray;

    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    }

    .headingText{
        padding: 1rem 0;
    }
}