*{
    margin: 0;
}

.ourProductsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 0.25rem;

    width: 30%;
    max-width: 200px; /******/
    height: auto;

    box-shadow: 0 6px 12px lightgrey;
}

.icon{
    width: 8.5rem;
    height: auto;
    padding: 0.75rem;
} 

.ourProductsBox .title{
    font-size: 0.8rem; /*32px*/
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    text-align: center;
}

.ourProductsBox .text{
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 1.6rem 1.4rem 1.2rem;
    line-height: 1.4;
}

@media screen and (max-width: 1000px) {
    .icon{
        width: 6.5rem;
    }
}

@media screen and (max-width: 415px) {
    .icon{
        width: 5rem;
    }
    .ourProductsBox .text{
        padding: 1rem 0.8rem 0.8rem;
    }
    
    .ourProductsBox .title{
        font-size: 0.7rem;
    }

    .ourProductsBox{
        padding: 0.2rem;
        width: 29%;
    }
    
}