/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Libre Baskerville', serif; */
.footer {
    background-color: var(--lightBrown);
    padding: 2.5rem;
    display: flex;
    color: white;
    font-size: 1rem;
    font-family: 'Libre Baskerville', serif;
    align-items: center;
    justify-content: space-between;
}

.footer .footertext {
    color: black;
    list-style: none;
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 1.56rem;
    font-size: 0.95rem;
}

.title {
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
    color: black;
}

.footer .socialcontainer {
    padding: 2.5rem 2.5rem;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;

    text-decoration: none;
    color: black;
}

a.social:hover {
    transform: translateY(-2px);
}

.icon {
    font-size: 2rem;
}

@media screen and (max-width: 415px) {

    .footer{
        padding: 0.5rem;
        background-color: var(--lily);
        /* margin-bottom: 4.5rem; */
    }

    .footer .footertext{
        width: 50%;
        font-size: 0.7rem;
        padding: 1rem;
    }

    .title {
        font-size: 1.1rem;
    }

    .footer .socialcontainer{
        padding: 0rem;
        padding-left: 0.7rem;
        margin: 0rem;
        width: 50%;
    }

    .footer .socialcontainer .social{
        width: 10%;
    }

    a.social {
        margin: 0 0.4rem;
        display: inline;
    }

    .icon {
        padding-left: 0.5rem;
        font-size: 1.5rem;
    }
}