/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Libre Baskerville', serif; */
@import "../../global/colors.css";

.footer {
    background-color: var(--lightBrown);
    padding: 40px;
    display: flex;
    color: white;
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
    align-items: center;
    justify-content: space-between;
}

.footer .footertext {
    color: black;
    list-style: none;
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 25px;
    font-size: 15px;
}

.title {
    font-size: 24px;
    padding-bottom: 20px;
    color: black;
}

.footer .socialcontainer {
    padding: 25px 25px;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-2px);
}

a.social { 
    text-decoration: none;
    color: black;
}