.navigationBar {
    display: flex;
    justify-content: space-evenly;
    padding: 0.45rem 0; /*7px*/
    width: 100%;
    background-color: rgba(207, 197, 197, 0.6); /*ovo je --lily al transparentna*/
  }

  .navigationBar li {
    padding: 0.6rem 0.9rem; /*10px 15px*/
    list-style: none;
    width: fit-content;

    text-transform: uppercase;
    font-size: 0.9rem; /*14px*/
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  .navigationBar li:hover {
    border-bottom: 2px solid darkgray;
    cursor: pointer;
  }
  
  .navigationBar .active, .navigationBar .active:hover{
    border-bottom: 2px solid black;
  }