.navigationBar {
    height: 2.4rem;
    display: flex;
    justify-content: space-evenly;
    padding: 0.45rem 0; /*7px*/
    width: 100%;
    background-color: rgba(207, 197, 197, 0.6); /*ovo je --lily al transparentna*/
  }

  .navigationBar .navElement, .navigationBar .cartLink{
    cursor: pointer;
  }

  .navigationBar li {
    padding: 0.6rem 0.9rem; /*10px 15px*/
    list-style: none;
    width: fit-content;

    text-transform: uppercase;
    font-size: 0.9rem; /*14px*/
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  .navigationBar li:hover {
    border-bottom: 2px solid darkgray;
  }
  
  .navigationBar .active, .navigationBar .active:hover{
    border-bottom: 2px solid black;
  }

  .icon{
    display:none;
    padding: 0 0.4rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #564141;
  }

  .cartLink{
    display: none;
  }

  @media screen and (max-width: 415px) {

    .navigationBar {
      display: flex;
      width: 100vw;
      height: fit-content;
      position: fixed;
      bottom: 0;
      flex-flow: row;
      padding: 0;
      
      justify-content: space-evenly;
      background-color: var(--lightBrown);    
    }

    .navigationBar li{
      color: #564141;
      font-size: 0.6rem;
      padding: 0.4rem 0.6rem;
    }

    .navigationBar li:hover {
      border:none;
    }
    
    .navigationBar .active, .navigationBar .active:hover{
      /* border: none; */
      border-bottom: 4px solid  var(--darkerBrown);
    }

    .navElement, .cartDiv{
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
    }
      
    .icon{
      display: inline;
      padding: 0 0.4rem;
      font-size: 1.75rem;
    }

    .cartLink{
      display: block;
    }
  }

