.navigationBar {
    padding: 7px 0;
    width: 100%;
    background-color: #CFC5C5;

    display: flex;
    justify-content: space-evenly;
  }

  /* .navigationButtons{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
  }
   */
  .navigationBar li {
    padding: 8px 18px;
    list-style: none;
    width: fit-content;

    text-transform: uppercase;
    font-size: 14px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  .navigationBar li:hover {
    border-bottom: 1.5px solid darkgray;
    cursor: pointer;
  }
  
  .navigationBar .active, .navigationBar .active:hover{
    border-bottom: 1.5px solid black;
  }