.icons{
    margin: 0 1.4rem 0 0;
    display:flex;    
}

.iconLogin, .icon2{
    padding: 0.1rem 0.4rem;
    font-size: 1.9rem;
    cursor: pointer;
}

.iconLogout{
    padding: 0.1rem 0.4rem;
    font-size: 2.23rem;
    cursor: pointer;
}

.btn{ /*da se makne default styling*/
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

@media screen and (max-width: 415px) {
    .icon2{
        display:none;
    }

    .iconLogin{
        font-size: 1.5rem;
    }

    .iconLogout{
        font-size: 1.5rem;
    }

}