.icons{
    margin: 0 1.4rem 0 0; /*15px*/
    display:flex;    
}

.icon, .icon2{
    padding: 0 0.4rem; /*5px*/
    font-size: 1.9rem; /*30px*/
    cursor: pointer;
}

.btn{ /*da se makne default styling*/
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

@media screen and (max-width: 415px) {
    .icon2{
        display:none;
    }

}