.wrapper{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-left: auto;
    margin-right: auto;
}
 
.icon1{
    align-self: center;
    color: darkgray;
    font-size: 1.7rem;
}

.icon2{
    align-self: center;
    color: darkgray;
    font-size: 1.7rem;
}


.wrapper span{
    align-self: center;
    font-size: 1.3rem;
    color: var(--grayLine);
}

.active{
    color: rgba(233, 144, 29, 0.705);
}

.wrapper a .icon1{
    align-self: center;
    margin-top: 0.3rem;
    color: var(--grayLine);
}

.wrapper a .icon2{
    align-self: center;
    margin-top: 0.3rem;
    color: var(--grayLine);
}

.wrapper span:hover{
    cursor: pointer;
    padding: 0.2rem 0.6rem;
    background-color: rgba(222, 184, 135, 0.418);
}

@media screen and (max-width: 1180px) {
    .wrapper{
        width: 35%;
    } 
}

@media screen and (max-width: 415px) {
    .wrapper{
        width: 60%;
    }  
}